<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Agregar usuario</title>
</head>

<body>
    <div class="container" style="margin-left: 40%">
        <h2>Crear usuario</h2>
        <form th:action="@{/create}" method="POST" th:object="${user}">
            <label for="name">Nombre <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></label>
            <br>
            <input type="text" name="name" th:field="${user.name}" required>
            <br>
            <br>
            <label for="email">Email <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></label>
            <br>
            <input type="text" name="email" th:field="${user.email}">
            <br>
            <br>
            <label for="date">Birthdate <span th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></span></label>
            <br>
            <input type="date" name="date" th:field="${user.birthdate}">
            <br>
            <br>
            <label for="type">User type <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span></label>
            <br>
            <select name="type" th:if="${types!=null}">
                <option th:field="${user.type}" th:each= "type : ${types}" th:value="${type}" th:text="${type}"></option>
            </select>
            <br>
            <br>
            <label for="type">Genre <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span></label>
            <br>
            <select name="genre" th:if="${genres!=null}">
                <option th:field="${user.genre}" th:each=" genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
            </select>
            <br>
            <br>
            <input type="submit">
        </form>
        <br>
        <br>
        <footer>
            <a class="p-4" th:href="@{/}">Index</a>
        </footer>
    </div>
</body>

</html>