* {
    box-sizing: border-box;
}

.div-container {
    display: grid;
    grid-template-areas: "top top top message" "center center center center" "bottom bottom bottom bottom"
}

.header {
    text-align: center;
    grid-area: top;
    margin-bottom: 5%;
    align-self: top;
    background: burlywood;
    border-radius: 8px;
    height: 100px;
}

.message {
    text-align: center;
    grid-area: message;
    margin-bottom: 5%;
    align-self: top;
    background: orangered;
    border-radius: 8px;
    height: 100px;
}

.center {
    grid-area: center;
    text-align: center;
    margin-right: 20%;
}